name: funding-splits-content - Nightly

on:
  schedule:
    - cron: 19 23 * * *
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
        run:
            working-directory: funding-splits-content

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'
        cache-dependency-path: funding-splits-content/package-lock.json

    - run: npm ci
    - run: npx tsc

    - run: node download.js
    - run: node dripify.js

    - name: Git Config
      run: |
        git config user.name 'Nya Îlimu'
        git config user.email 'info@elimu.ai'

    - name: Git Generate Short Diffstat
      run: |
        git --no-pager diff --shortstat

    - name: Count File Changes
      id: count_changes
      run: |
        git add *.csv
        CHANGED_FILES_COUNT=$(git diff --staged --name-only | wc -l)
        echo "changed_files_count=$CHANGED_FILES_COUNT" >> $GITHUB_OUTPUT
        echo "Changed files count: $CHANGED_FILES_COUNT"
        
    - name: Git Commit
      if: steps.count_changes.outputs.changed_files_count > 0
      run: |
        git commit -m 'chore(funding-splits-content): nightly build'

    - name: Git Push
      if: steps.count_changes.outputs.changed_files_count > 0
      run: |
        git push
