name: github-contributors - Nightly

on:
  schedule:
    - cron: 39 23 * * *

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
        run:
            working-directory: src/github-contributors

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'
        cache-dependency-path: src/github-contributors/package-lock.json

    - run: npm ci
    - run: npx tsc

    - run: node calculate-percentages.js

    - name: Git Config
      run: |
        git config user.name 'Nya Îžlimu'
        git config user.email 'info@elimu.ai'

    - name: Git Generate Short Diffstat
      run: |
        git --no-pager diff --shortstat

    - name: Git Commit
      run: |
        git add :/**/FUNDING_SPLITS.csv
        git commit -m 'chore(github-contributors): impact percentages, nightly build'

    - name: Git Push
      run: |
        git push
